@import url("https://fonts.googleapis.com/css?family=Raleway:100,400");
@keyframes autofill {
  to {
    background: #fff;
    border-bottom-color: #e5dfa1;
    color: #777;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "source";
  src: url("../fonts/source/bold.woff2");
}
.clearfix-after {
  clear: both;
  content: "";
  display: table;
}

*:focus {
  outline: none !important;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", calibri, "Helvetica Neue", helvetica, arial;
  font-size: 14px;
}

a {
  color: #337ab7;
  cursor: pointer;
}
a:hover {
  color: #4f93ce;
}

.a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}
.a:hover {
  text-decoration: none;
}

.a:after, .navbar .navbar-collapse .navbar-nav > li > a:after, .input-group:after {
  border-top: 1px solid #337ab7;
  content: "";
  display: block;
  left: 50%;
  position: absolute;
  top: 100%;
  transition: 0.3s;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  width: 0;
}

.a:hover:after, .navbar .navbar-collapse .navbar-nav > li > a:hover:after, li.active > .navbar .navbar-collapse .navbar-nav > li > a:after, .input-group:hover:after, .input-group.focus:after, .input-group.not-empty:after {
  width: 100%;
}

.nav.tabs {
  border-bottom: 1px solid #fafafa;
}
.nav.tabs:after {
  clear: both;
  content: "";
  display: table;
}
.nav.tabs > li {
  display: block;
  float: left;
  padding: 0;
  width: auto;
}
.nav.tabs > li > a {
  border: none;
  box-shadow: none !important;
  color: #777;
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
}
.nav.tabs > li > a:after {
  border-top: 1px solid #337ab7;
  content: "";
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  transition: 0.3s;
  position: absolute;
  width: 0;
}
.nav.tabs > li > a:focus,
.nav.tabs > li > a:hover, .nav.tabs > li.active > a {
  background: #fafafa;
  color: #337ab7;
}
.nav.tabs > li > a:focus:after,
.nav.tabs > li > a:hover:after, .nav.tabs > li.active > a:after {
  width: 100%;
}

.navbar {
  background: #fff;
  border-radius: 0;
  height: 70px;
  padding-bottom: 10px;
  padding-top: 10px;
  z-index: 1030;
}
.navbar .navbar-head .navbar-brand {
  font-size: 25px;
  font-weight: 100;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
}
.navbar .navbar-collapse {
  padding-right: 15px;
}
.navbar .navbar-collapse .navbar-nav > li > a {
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  margin-top: 4px;
  padding: 0 20px;
}
.navbar .navbar-collapse .navbar-nav > li > a .icon {
  font-size: 30px;
  line-height: inherit;
  vertical-align: middle;
}
.navbar .navbar-collapse .navbar-nav > li > a .icon:before, .navbar .navbar-collapse .navbar-nav > li > a .icon:after {
  line-height: inherit;
}
.navbar .navbar-collapse .navbar-nav > li > a .text {
  line-height: inherit;
  vertical-align: middle;
}
.navbar .navbar-collapse .navbar-nav > li > a .icon + .text {
  margin-left: 10px;
}
.navbar .navbar-collapse .navbar-nav > li > a:hover {
  background: transparent;
  border: none;
  color: #337ab7;
}
.navbar .navbar-collapse .navbar-nav > li > .btn {
  margin: 8px 5px;
  padding: 6px 20px;
}
.navbar .navbar-form {
  margin: 5px 0;
  width: auto;
}
@media (max-width: 768px) {
  .navbar .navbar-form {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
  }
}
.navbar .navbar-form .input-group {
  background: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 0 3px;
  width: auto;
}
@media (max-width: 768px) {
  .navbar .navbar-form .input-group {
    width: 100% !important;
  }
}
.navbar .navbar-form .input-group .input {
  background: transparent;
  border-color: transparent;
  width: auto;
}
.navbar .navbar-form .input-group .btn {
  background: transparent;
  border-color: transparent;
  border-radius: 3px;
  color: inherit;
  padding: 7px 12px;
}
.navbar .navbar-form .input-group:after {
  content: none;
}

.modal {
  align-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  transition: 0.5s;
  visibility: hidden;
  width: 100%;
  z-index: var(--modal-index);
}
.modal .modal-content {
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 10px;
  width: 100%;
}
.modal .modal-content .modal-content-inner {
  background: #fff;
  /*border: 1px solid #eee */
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  margin: auto;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}
.modal .modal-content .modal-content-inner .modal-head {
  color: #337ab7;
  min-height: 30px;
  padding: 10px 20px;
}
.modal .modal-content .modal-content-inner .modal-head .modal-title {
  float: left;
  font-size: 14px;
}
.modal .modal-content .modal-content-inner .modal-head .close {
  cursor: pointer;
  float: right;
  font-size: 10px;
}
.modal .modal-content .modal-content-inner .modal-body {
  color: #777;
  font-size: 12px;
  min-height: 50px;
  padding: 10px 20px;
}
.modal .modal-content .modal-content-inner .modal-foot {
  color: #777;
  font-size: 11px;
  padding: 10px 20px;
}
.modal .modal-content .modal-content-inner .modal-foot .btn:not(:last-child) {
  margin-right: 5px;
}
.modal.open {
  display: flex;
  opacity: 1;
  visibility: visible;
}
.modal.open .modal-content .modal-content-inner {
  transform: scale(1);
}
.modal:after, .modal .modal-content:after, .modal .modal-content .modal-content-inner:after, .modal .modal-content .modal-content-inner .modal-head:after, .modal .modal-content .modal-content-inner .modal-body:after, .modal .modal-content .modal-content-inner .modal-foot:after {
  clear: both;
  content: "";
  display: block;
}

@media (min-width: 768px) {
  .modal .modal-content .modal-content-inner {
    width: 75%;
  }
}
@media (min-width: 1025px) {
  .modal .modal-content .modal-content-inner {
    width: 50%;
  }
}
.btn {
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
}
.btn:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}
.btn.btn-link, .btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.btn.btn-round {
  border-radius: 50%;
  height: 35px;
  line-height: 35px;
  padding: 0 9px;
  text-align: center;
  width: 35px;
}
.btn.btn-primary {
  background: #337ab7;
  border-color: #22527b;
  color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:focus {
  background: #22527b;
}
.btn.btn-primary:active {
  background: #173853;
}
.btn.btn-primary.inv {
  background: transparent;
  border-color: #337ab7;
  color: #337ab7;
}
.btn.btn-primary.inv:hover, .btn.btn-primary.inv:focus {
  background: rgba(51, 122, 183, 0.3);
}
.btn.btn-primary.inv:active {
  background: rgba(51, 122, 183, 0.5);
}
.btn.btn-secondary {
  background: #fff;
  border-color: #d9d9d9;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:focus {
  background: #d9d9d9;
}
.btn.btn-secondary:active {
  background: #bfbfbf;
}
.btn.btn-secondary.inv {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn.btn-secondary.inv:hover, .btn.btn-secondary.inv:focus {
  background: rgba(255, 255, 255, 0.3);
}
.btn.btn-secondary.inv:active {
  background: rgba(255, 255, 255, 0.5);
}
.btn .icon {
  line-height: 1;
}
.btn .icon:before, .btn .icon:after {
  line-height: 1;
}

.input {
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-family: inherit;
  height: 40px;
  letter-spacing: 1px;
  line-height: 1.3;
  padding: 10px 15px;
  width: 100%;
}
.input:-webkit-autofill, .input:-webkit-autofill:hover, .input:-webkit-autofill:focus, .input:-webkit-autofill:active, .input:-webkit-autofill:disabled {
  -webkit-animation-name: autofill;
  -moz-animation-name: autofill;
  -ms-animation-name: autofill;
  -o-animation-name: autofill;
  animation-name: autofill;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
}

textarea.input {
  min-height: 60px;
}

.input-group {
  width: 100%;
}
.input-group label {
  color: #777;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  letter-spacing: 1px;
  left: 16px;
  position: absolute;
  top: 10px;
  transition: 0.3s;
  z-index: 1;
}
.input-group.focus label, .input-group.not-empty label {
  font-size: 12px;
  left: 0;
  top: -20px;
}
.input-group:after {
  margin-top: -1px;
}
.input-group:hover label, .input-group.focus label, .input-group.not-empty label {
  color: #337ab7;
}
.input-group .btn:hover {
  box-shadow: none;
}

.checkbox input[type=checkbox] {
  display: none;
}
.checkbox label {
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  position: relative;
  user-select: none;
  vertical-align: middle;
}
.checkbox label:before, .checkbox label:after {
  content: "";
}
.checkbox label:before {
  border: 1px solid #aaa;
  border-radius: 3px;
  display: inline-block;
  height: 25px;
  margin-right: 10px;
  vertical-align: middle;
  width: 25px;
}
.checkbox label:after {
  border: 2px solid transparent;
  border-bottom-color: #aaa;
  border-left-color: #aaa;
  border-bottom-width: 1px;
  display: none;
  height: 5px;
  left: 6px;
  position: absolute;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 15px;
}
.checkbox input[type="checkbox"]:checked + label:after,
.checkbox input[type="radio"]:checked + label:after {
  display: block;
}

.form-group {
  margin-bottom: 30px;
}

.top-banner {
  font-size: 20px;
  padding: 5px 20px;
  user-select: none;
}
.top-banner .name {
  cursor: pointer;
  font-weight: 300;
  text-transform: uppercase;
}
.top-banner .name .long {
  display: inline;
}
.top-banner .name .short {
  display: none;
}
.top-banner .name.open .long {
  display: none;
}
.top-banner .name.open .short {
  display: inline;
}
.top-banner .icon {
  font-size: 25px;
}
.top-banner .price {
  cursor: pointer;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.7;
}
.top-banner .price .dollar {
  display: inline;
}
.top-banner .price .original {
  display: none;
}
.top-banner .price.open .dollar {
  display: none;
}
.top-banner .price.open .original {
  display: inline;
}
.top-banner .name,
.top-banner .icon,
.top-banner .price {
  margin: 0 5px;
  vertical-align: middle;
}

.ui {
  position: relative;
}

.box {
  background: #fff;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: var(--p-radius);
  color: #777;
  cursor: pointer;
  min-height: 150px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  transition: 0.3s;
  width: 100%;
}
.box.inv {
  background: transparent;
  color: #fff;
}
.box:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}
.box .cover {
  position: relative;
  z-index: 2;
}
.box .cover .icon,
.box .cover .icon:after,
.box .cover .icon:after {
  /*color: #00bfff */
  display: block;
  font-size: 4em;
  line-height: 1;
  width: 100%;
}
.box.inv .cover .box .cover, .box.inv .cover .box .cover:after, .box.inv .cover .box .cover:after {
  color: #fff;
}
.box .cover .title {
  /*color: #00bfff */
  font-size: 1.25em;
  margin-bottom: 10px;
}
.box.inv .box .cover {
  color: #fff;
}
.box > .content {
  background: inherit;
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0 0 3px 3px;
  display: none;
  left: 0;
  padding-bottom: 20px;
  position: absolute;
  top: 100%;
  width: 100%;
}
.box.open {
  z-index: 10;
}
.box.open .content {
  display: block;
}

.dropdown-menu {
  border: none;
  border-radius: 3px;
  display: block;
  font-size: 12px;
  margin-top: -30px !important;
  max-height: 200px;
  overflow-y: auto;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu.open {
  margin: 0 !important;
  opacity: 1;
  visibility: visible;
}
.dropdown.left .dropdown-menu {
  left: auto;
  right: 0;
}

.group {
  margin-bottom: 15px;
  position: relative;
  width: 100%;
}
.group:after {
  clear: both;
  content: "";
  display: table;
}

.tabs.groups .content {
  position: relative;
}

.tab {
  display: none;
}
.tab.show {
  display: block;
}
.tab.fade {
  left: 0;
  opacity: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
}
.tab.bottom {
  transform: translateY(-100%);
}
.tab.left {
  transform: translateX(-100%);
}
.tab.right {
  transform: translateX(100%);
}
.tab.top {
  transform: translateY(-100%);
}
.tab.open, .tab.in, .tab.active {
  display: block !important;
  transform: translate(0);
}
.tab.open.fade, .tab.open.fade, .tab.open.fade, .tab.in.fade, .tab.in.fade, .tab.in.fade, .tab.active.fade, .tab.active.fade, .tab.active.fade {
  opacity: 1;
  visibility: visible;
}

.group.rows .row:not(:first-child) {
  -webkit-box-shadow: 0 -1px 0 #ddd;
  -moz-box-shadow: 0 -1px 0 #ddd;
  -ms-box-shadow: 0 -1px 0 #ddd;
  -o-box-shadow: 0 -1px 0 #ddd;
  box-shadow: 0 -1px 0 #ddd;
}
.group.rows .row [class^=col-] {
  padding: 15px;
}
.group.rows .row [class^=col-]:not(:first-child) {
  -webkit-box-shadow: -1px 0 0 #ddd;
  -moz-box-shadow: -1px 0 0 #ddd;
  -ms-box-shadow: -1px 0 0 #ddd;
  -o-box-shadow: -1px 0 0 #ddd;
  box-shadow: -1px 0 0 #ddd;
}

.border-radius {
  border-radius: 3px;
}

.shadow {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.loading {
  position: relative;
}
.loading:before, .loading:after {
  content: "";
  display: block;
  position: absolute;
}
.loading:before {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000000;
}
.loading:after {
  animation: spin 1s linear infinite;
  background: transparent;
  border: 2px solid #ddd;
  border-top-color: #aaa;
  border-radius: 50%;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  transform: unset;
  width: 50px;
  z-index: 15000000;
}

.screen {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.open,
.show {
  display: block !important;
}

.hidden,
.fold,
.hide {
  display: none !important;
}
.hidden.open,
.fold.open,
.hide.open {
  display: block !important;
}

.trans,
.transparent {
  opacity: 0;
}

.bg-trans,
.bg-transparent {
  background: transparent;
}

.opaque {
  opacity: 1;
}

.ov-auto {
  overflow: auto;
}

.ov-hidden {
  overflow: hidden;
}

.ov-scroll {
  overflow: scroll;
}

.pull-left {
  float: left !important;
}

.pull-none {
  float: none !important;
}

.pull-right {
  float: right !important;
}

.clear {
  clear: both;
}

.margin-auto {
  float: none;
  margin: auto;
}

.block {
  display: block;
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
  max-width: 100%;
  width: 100%;
}

.items-center,
.item-center {
  align-items: center;
}

.items-stretch,
.item-stretch {
  align-items: stretch;
}

.contents-center,
.content-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.ver-middle {
  vertical-align: middle;
}

.ver-baseline {
  vertical-align: baseline;
}

.ver-bottom {
  vertical-align: bottom;
}

.ver-top {
  vertical-align: top;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.static {
  position: static;
}

.font-100 {
  font-weight: 100;
}

.calibri {
  font-family: calibri;
}

.uppercase {
  text-transform: uppercase;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-left {
  margin-left: 30px;
}

.margin-right {
  margin-right: 30px;
}

.margin-top {
  margin-top: 30px;
}

.vh100 {
  min-height: 100vh;
}

.pos-bottom {
  bottom: 0;
}

.pos-top {
  top: 0;
}

.pos-left {
  left: 0;
}

.pos-right {
  right: 0;
}

.pos-center, .loading:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.txt-primary {
  color: #8bb8df !important;
}

.txt-danger {
  color: #d69695 !important;
}

.txt-success {
  color: #77ba79 !important;
}

.txt-info {
  color: #71b0ce !important;
}

.txt-warning {
  color: #c7ac7d !important;
}

.events-none {
  pointer-events: none;
}

.events-all {
  pointer-events: all;
}

/*# sourceMappingURL=main.css.map */
